@import "nav.css";
@import "test1-side-bar.css";

body {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.page{
    
    display: flex;
    justify-content: center;
    height: 100vh;
    padding:20px 250px;
}