@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.page-content{
    display: flex;
    flex-direction: column;
    margin-left: 335px;
}
.leave-container{
    width: 1070px;
    padding: 20px 5px;
    box-shadow: 0px 0px 15px 2px #ABB2B9;
    border-radius: 10px;
    background-color:white;
    padding-bottom: 40px;
    color: #51619b;
}

.leave-container div h1{
    padding-left: 20px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.header div h2{
    font-size: 20px;
}

.div-search{
    width: 400px;
    height: 35px;
    font-size: 18px;
    font-weight: 500;
    border: #071D70 solid 1.5px;
    border-radius: 10px;
    color:#51619b;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#search{
    border: none;
    width: 390px;
    height: 30px;
    font-size: 18px;
    font-weight: 500;
    padding: 5px 40px;
}

#search:focus{
    outline: none;
}

.all-tasks{
    padding: 0 ;   
}

.btn-task-add, .btn-task-update, .btn-task-delete{
    color: white;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
    border-style: none;
    width: 100px;
    border-radius: 4px;
}

.btn-task-add{
    background-color: black;
    border: 1px solid black;
}

.btn-task-update{
    background-color: #20bf6b;
    border: 1px solid #20bf6b;
}

.btn-task-delete{
    background-color: #a00000;
    border: 1px solid #a00000;
}
.btn-task-add:hover, .btn-task-update:hover, .btn-task-delete:hover{
    cursor: pointer;
    background-color: white;
}
.btn-task-add:hover{
    color: black;
    border:1px solid black;
}
.btn-task-update:hover{
    color: #20bf6b;
    border:1px solid #20bf6b;
}
.btn-task-delete:hover{
    color: #a00000;
    border: 1px solid #a00000;
}

.task-tbl{
    width: 100%;
    border-collapse: collapse;
    display: inline-block;
    height: 450px;
    overflow-x: auto;
    overflow-y: auto;
    border-collapse: separate;
    border-spacing: 15px;
    color: #51619b;
    font-size: 16px;
    font-weight: 520;
}

.task-tbl tr th:not(.number-d,.number-h){
    border-bottom: 1px solid grey ;
    padding: 10px 30px;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    z-index: 2;
    background-color: white;
}
.number-h{
    text-align: center;
    padding: 20px 5px;
    z-index: 2;    
    position: -webkit-sticky;
    top: 0px;
}
.number-d{
    text-align: center;
    padding: 20px 5px;
    z-index: -2;    
    position: -webkit-sticky;
    top: 0px;
}
.task-tbl tr td:not(.number-d,.number-h) {
    padding: 20px 5px;
    border-bottom: 1px solid grey ;
    z-index: -2;
}

.status-pending,.status-accepted,.status-cancel{
    padding: 5px 8px;
    border-radius: 20px;
}
.status-pending{
    background-color: greenyellow;
}
.status-accepted{
    background-color: rgb(252, 255, 47);
}
.status-cancel{
    background-color: rgb(255, 47, 47);
}