*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Raleway', sans-serif;

}

body{
    font-family: 'raleway';
    min-height: 100vh;
    background-image: url('24.png');
    background-repeat: no-repeat;
    background-size: 670px 670px;
    
    background-position: 10% 90%;
    
}

img{
    height: 70px;
    width: 165px;
}

h1{
    color: #ffffff;
    opacity: 61%;
    padding-bottom: 30px;
    font-weight: normal;

}
.logo{
    float: left;
    width: 100px;
    height: 50px;
    padding-left: 40px;
    padding-top: 20px;
}


.signup_box{
    float: right;
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #071D70;
    height: 100vh;
    width: 740px;
    border-radius: 106px 0 0 106px;
    padding: 100px;
    
} 
 

.signup_box label{
    margin: 0;
    padding: 0;
    color: #ffffff;
}

.signup_box input,
.signup_box select{
    width: 70%;
    height: 25px;
    margin-bottom: 10px;
    border-radius: 6px;
    border-color: #ffffff;
    font-size: 12px;
    padding-left: 20px;
}

button{
    height: 40px;
    width: 125px;
    border-radius: 6px;
    font-size: 20px;
    font-weight: bold;
    
}

#btn1{
    color: #071D70;
    background-color: #fff;
    border-color: #fff;
}

#btn2{
    color: #fff;
    background-color: #071D70;
    border-color: #fff;
    
}

p{
    color: #fff;
    padding-top: 10px;
    font-size: 12px;
}

